.container{
    
    width: 950px;
    height: 800px;
    margin-left: 250px;
    margin-top: 20px;
   
    border-radius: 2px;
    position: relative;
    
}
.inner{
    display: grid;
    grid-template-rows: 1fr 6fr;
    position: absolute;
    top: 50px;
    left: 30px;
    height: 700px;
    width: 890px;
    background-color: white;

}
 
 
 .box2{
    
    margin: 0px 25px 25px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:  hsl(244, 47%, 87%);
    
 }
 


.item11{
    display: grid;
    grid-template-rows: 2fr 1fr;
}
.item111{
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: relative;
}
.element2{
    position: absolute;
    bottom: 0;
}
.item112 {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.item2{
    background-color: white;
    border-radius: 16px;
    margin-top: 10px;
    height: 600px;
    width: 950px;
    margin-left: 305px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    
    
}
.item21{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.item22{
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.item222 {
    display: flex;
    overflow: hidden;
  }
  
.boxes {
    width: 300px;
    height: 250px;
    margin: 10px;
  }
.item4{
    height: 600px;
    width: 950px;
    margin-left: 305px;
    
    display: grid;
    grid-template-rows: 1fr 3fr;
}
.fade-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  .item42{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .item6{
    height: 600px;
    width: 950px;
    margin-left: 305px;
    border-radius: 16px;
    background-color:rgb(206, 237, 247);
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .innerbox{
    background-color: white;
    width: 500px;
    height: 150px;
    border-radius: 16px;
    margin-left: 200px;
    margin-top: 75px;
  }