.container{
    background-color: hsl(244, 47%, 87%);
    width: 950px;
    height: 800px;
    margin-left: 250px;
    margin-top: 20px;
   
    border-radius: 2px;
    position: relative;
    
}
.inner{
    display: grid;
    grid-template-rows: 1fr 6fr;
    position: absolute;
    top: 50px;
    left: 30px;
    height: 700px;
    width: 890px;
    background-color: white;

}
 
 
 .box2{
    background-color: red;
    margin: 0px 25px 25px 25px;
    
 }
 
.item1{
    height: 600px;
    width: 840px;
}
.item1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 305px;
    background-color: hsl(244, 47%, 87%);
}